.especial {
  background-color: aqua;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}

.especial2 {
  background-color: rgb(159, 79, 400);
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 5px;
}

.recuadro1 {
  border: 5px green solid;
}

.recuadro2 {
  border: 5px #d00e07 solid;
}
